<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itesm.mx.formaciondeportivaandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PerfilActivity" />
        <activity
            android:name=".DescripcionRutinaActivity"
            android:label="@string/title_activity_descripcion_rutina"
            android:theme="@style/AppTheme" />
        <activity android:name=".RutinasActivity" />
        <activity android:name=".SeleccionActivity" />
        <activity android:name=".TiposRutinaActivity" />
        <activity android:name=".EjercicioActivity" />
        <activity android:name=".HistorialActivity" />
        <activity android:name=".SesionActivity"/>
    </application>

</manifest>